<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs')%>
    <div class="About content">
        <h2>About Us</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima quia similique veritatis accusamus, omnis eligendi vero dolore eius ad nihil!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima quia similique veritatis accusamus, omnis eligendi vero dolore eius ad nihil!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima quia similique veritatis accusamus, omnis eligendi vero dolore eius ad nihil!</p>
    </div>
    
</body>
<%- include('./partials/footer.ejs') %>
</html>