<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js</title>
    <style>
h1 {
    color: #333; 
    font-family: Arial, sans-serif;
    font-size: 2em; 
    text-align: center;
}
h2{
    color: #333; 
    font-family: Arial, sans-serif;
    font-size: 1.5em; 
    text-align: center;
}
p{
    color: #333; 
    font-family: Arial, sans-serif;
    font-size: 1em; 
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}
    </style>
</head>
<body>
    <h1>About</h1>
    <h2>Your path to become Node.js Ninja</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitOdit nihil tempore, animi iure nulla minus explicabo, ducimus maiores facilis ut necessitatibus libero non ipsam officia quasi nisi harum ipsum! Veritatis.
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitOdit nihil tempore, animi iure nulla minus explicabo, ducimus maiores facilis ut necessitatibus libero non ipsam officia quasi nisi harum ipsum! Veritatis.
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitOdit nihil tempore, animi iure nulla minus explicabo, ducimus maiores facilis ut necessitatibus libero non ipsam officia quasi nisi harum ipsum! Veritatis.
    </p>
</body>
    <footer>
        <p>© 2025 Node.js | All right reserved</p>
    </footer>
</html>